         
          <div class="container">
      <div class="header clearfix">
        <nav>
             <ul class="nav nav-pills pull-right">
            <li role="presentation" class="{MAINOPT}"><a href="{HTTP_HOST}">Home/Login</a></li>
            <li role="presentation" class="{REGOPT}"><a href="{HTTP_HOST}/user/register">Register</a></li>
            {LOGOUT}
          </ul>
        
        <h3 class="text-muted">Test task </h3>
        
           {LOGIN}
          
      </div>